<div class="container">
  <h1 style="text-align: center; color: white;">QUOTES</h1>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <p style="color: white; font-size: 20px;">Below are quotes that have had an impact thoughts and emotions</p>

      <div class="card-body" style="color: white; font-size: 24px;">
        <p *ngFor='let quote of quotes; let i = index'>
          {{quote.id}}. {{quote.quote}}
          <button (click)='toggleDetails(i)' class='btn btn-primary'>Toggle Details</button>
          <app-quote-details *ngIf='quote.showDetails' [quotes]='quote' (isComplete)='quoteDelete($event,i)'>
          </app-quote-details>
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>      
    </div>
  </div>
</div>